
.forget-password-container .forget-password-container-tile {
  background-color: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto auto auto;
}

.forget-password-container {
  margin: 25px 25px 25px 25px;
}

.forget-password-container .forget-password-container-title {
  text-align: center;
}

.forget-password-container .forget-password-container-form {
  text-align: center;
}

.forget-password-container .forget-password-container-form #forget-password-container-form__email {
  width: 100%;
}

.forget-password-container .forget-password-container-form #forget-password-container-form__submit{
    margin-bottom: .8rem;
}