.stack-component {
    width: 100%;
    display: flex;
}

.stack-column {
    border: 2px solid white;
    cursor: pointer;
}

.stack-column .stack-column__title {
    border-bottom: 2px solid white;
}