.playbook-overview-page {
}

.playbook-overview-page .playbook-overview-page-content-top {
  display: flex;
}

.playbook-overview-page-hero {
  border-right: solid black 5px;
  border-bottom: solid black 5px;
  width: calc(100% - 275px);
  height: 555px;
  /* background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: #1e1e1e; */
  padding: 30px 30px 30px 30px;
  background-color: #f2f2f2;
}

.playbook-overview-page-hero .hero-container {
  color: #f3f3f3;
}

.playbook-overview-page-hero .hero-container .hero-container__title {
}

.playbook-overview-page-hero .hero-container .hero-container__title h1 {
  color: #f3f3f3;
}

.playbook-overview-page-right-panel {
  background: black;
}

.playbook-overview-page-outline {
  border: solid black 1px;
  width: 295px;
  overflow-y: auto;
  height: 470px;
}

.playbook-overview-page .playbook-overview-page-content-bottom {
  display: flex;
  background: #1e1e1e;
  color: #f3f3f3;
  padding: 40px 40px 40px 40px;
}

.playbook-overview-page .playbook-overview-page-content-bottom h3 {
  color: #f3f3f3;
}

.playbook-overview-page-course-info {
  margin-right: 25px;
  width: 25%;
}

.playbook-overview-page-course-description {
  width: 75%;
}

.outline-row {
  padding: 18px 18px 18px 18px;
  margin-bottom: 5px;
  background: #1e1e1e;
  color: #f3f3f3;
}

.action-tile {
  display: flex;
  justify-content: center;
}

.action-tile button {
  margin: 20px 20px 20px 20px;
  width: 80%;
  color: white;
}

.action-tile button a {
  color: white;
}
