.flow-node{
    /* border: solid 1px black; */
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}

.flow-node__content{
    border: solid 2px white;
    width: 150px;
    height: 100px;
}

.flow-node__edge{
    margin-top: auto;
    margin-bottom: auto;
}