.app-header {
  height: 70px;
  width: 100%;
  color: white;
  background-color: black;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.app-header .app-header__inner .header__inner__left .logo-container {
    height: 100%
}

.app-header .app-header__inner {
  margin-left: 60px;
  margin-right: 60px;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.app-header .app-header__inner .header__inner__right {
  display: flex;
  align-items: center;
}

.app-header .app-header__inner .header__inner__right .header-nav {
  margin-right: 10px;
}

.app-header .app-header__inner .header__inner__right .header--nav-item {
  margin-left: 10px;
  margin-right: 10px;
}

.app-header .app-header__inner .header__inner__right .header--nav-item a {
  color: #98999a;
  font-family: "raleway-heavy", sans-serif;
  font-size: 11.5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.app-header .app-header__inner .header__inner__right .header--nav-item a:hover {
  color: #ffffff;
}

.app-header .logo {
  height: 80%;
  margin-top: 7px;
}

.app-header .is-active {
  font-weight: bold;
}
