.playbook-page {
  background-color: #1e1e1e;
  height: 100%;
}

.playbook-page .playbook-page-content {
  display: flex;
  height: 100%;
}

.playbook-page .playbook-page-content .master-panel {
  background-color: black;
  border-left: 10px solid black;
  border-right: 5px solid black;
  border-bottom: 15px solid black;
  max-width: 300px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.playbook-page .playbook-page-content .master-panel .master-panel__header {
  border-bottom: 3px solid black;
  background-color: #1e1e1e;
  text-align: center;
  height: 63px;
}

.playbook-page
  .playbook-page-content
  .master-panel
  .master-panel__header
  .go-back-link {
  color: white;
}

.playbook-page .playbook-page-content .master-panel .master-panel__content {
  overflow-y: auto;
}

.playbook-page
  .playbook-page-content
  .master-panel
  .master-panel--header
  input {
  height: 40px;
}

.chapter-row {
  margin-bottom: 5px;
  background: #1e1e1e;
  color: #f3f3f3;
}

.chapter-row .chapter-row__title {
  height: 50px;
}

.chapter-row .chapter-row__title div {
  padding-top: 10px;
}

.section-row {
  color: #f3f3f3;
  text-align: center;
}

.section-row .section-row__title {
  border-top: 1px solid white;
  border-bottom: 1px white solid;
  height: 50px;
}

.section-row .section-row__title div {
  margin-top: 10px;
}

.subchapter-row {
  color: #f3f3f3;
  background: black;
  font-family: "raleway-bold", sans-serif;
  text-align: left;
}

.subchapter-row .subchapter-row__title {
  font-size: 1.4rem;
  margin-left: 80px;
}

.playbook-page .playbook-page-content .content-panel .content-panel__header {
  border-bottom: 3px solid black;
  padding: 15px 15px 15px 15px;
  height: 63px;
}

.playbook-page .playbook-page-content .content-panel .content-panel__content {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.playbook-page .playbook-page-content h2 {
  color: white;
}

.playbook-page .playbook-page-content .content-panel {
  min-width: 500px;
  border-bottom: 15px solid black;
  flex: 1;
  overflow-y: auto;
}

.playbook-page .playbook-page-content .details-panel {
  background-color: #1e1e1e;
  border-bottom: 15px solid black;
  border-left: 5px solid black;
  border-right: 10px solid black;
  width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
}

.playbook-page .playbook-page-content .details-panel__header {
  border-bottom: 3px solid black;
  padding: 15px 15px 15px 15px;
  height: 63px;
}

.playbook-page .playbook-page-content .details-panel__content {
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.playbook-page .playbook-page-header {
  text-align: center;
  height: 100px;
}

.playbook-page .playbook-page-header .playbook-card-header--image {
  padding-top: 25px;
  padding-bottom: 20px;
  height: 100%;
}
