body {
  background-color: #f2f2f2 !important;
  height: 100%;
}

.app-content-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.main-app {
  /* background-color: #1E1E1E; */
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
}

.app-page{
  height: calc(100% - 70px);
  background: black;
}

.grid-container {
  width: 100%;
}
.grid {
  float: left;
  width: 50%;
  text-align: center;
}
