body {
  background-color: #f2f2f2 !important;
}

.app-content-container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-bar input{
  width: 500px;
}

.playbook-card {
  height: 287px;
  width: 284px;
  text-align: center;
}

.cart-contents {
  width: 640px;
  background-color: white;
}

.cart-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 79px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid #dedef0 1px;
}

.cart-item .cart-item--actions{
  display: flex;
  flex-direction: column;
}

.cart-item .cart-item--image{
  margin-left: 10px;
}

.cart-item .cart-item--price{
  margin-right: 10px;
}

.my-cart-page-contents {
  display: flex;
}

.my-cart-page-contents .my-cart-page__right{
  margin-left: 40px;
}

.my-cart-page-contents .my-cart-page__right .cart-checkout-action{
  margin-top: 20px;
}